div {
    display: inline-block;
}
#text {
    display: inline-block;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#color {
    color: red;
}

#start {
    display: none;
}

.color {
    color: red;
}